/* ----------  Global and Body CSS ---------- */

:root {
    --accent-Color: rgb(62, 169, 130); /* ---- Custom green accent color ---- */
}

/* 
The follwoing style affects the parent element of the current element 
that should have an offset green accent on the bottom and right 
side of the current element. The parent is translated down and to the 
right and colored with the --accent-Color variable.
*/
.offsetAccentBox { 
    transform: translate(8px, 4px); /* move down 8px and to the right 4 px*/
    background-color: var(--accent-Color); /* color box accent green */
}

/*
This style affects the current element that should have a fancy bottom-right 
offset border. The current element counters its parent's offset by translating
an equal value in the opposite direction. This keeps the current element in it's
original, styled position while the accent is moved. 
*/
.offsetCounterBox {
    transform: translate(-8px, -4px); /* move down 8px and to the right 4 px*/
}



body, html {
    height: 86%;
    margin: 0;
    padding: 0;
    /* background: gainsboro; */
    color: black;
    font-family: 'Monserrat', sans-serif;
}


header {
    display: flex;
    background-color: lightgrey;
    padding-top: 25px;
    padding-bottom: 25px;
    /* color: mediumseagreen; */
}

header > img {
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

header > h1 {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer { 
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    height: 100px;
    /* color: mediumseagreen; */
}

footer > p {
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: purple; */

}
/* ------------------------------------ */


/* ------------- Main Css ------------- */

.container { 
    /* border: red dotted 2px; */
    /* height: 100%; */
    /* border: red dotted 2px; */
    display: flex;
}

/* ------------- Itinerary creation form and preview secitons CSS ------------- */
.flex-left { 
    display: flex;
    flex-direction: column;
    flex: 1 6 60%;
}


.itineraryForm { 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: green solid 2px; */
    /* float: left; */
}

.formTitle { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   
}

.formTitle > h2 { 
    margin-top: 10px;
    padding-bottom: 4px;
    border-bottom: 3px var(--accent-Color) solid;
}

.dropdown {
    /* transform: translate(-8px, -4px); */
    width: 100%;
    margin-bottom: 5px;
}

.selectorContainer { 
    width: 100%;
    padding: 10px 0;
    margin-bottom: 50px;
}

.states-list { 
    /* border: black dotted 2px; */
    max-width: 350px;
    margin: 10px auto;
}

#statesDropdown { 
    /* border: black dotted 2px; */
    max-width: 350px;
    margin: 10px auto;
}

.parks-list {
    /* border: black dotted 2px; */
    max-width: 350px;
    margin: 10px auto;
}

.eateries-list {
    /* border: black dotted 2px; */
    max-width: 350px;
    margin: 10px auto;
}


.eateryDescription {
   float: right;
   clear: right;
   width: 50%;
   overflow: auto;
   border: ridge black 1px;
}

.attractions-list {
    /* border: black dotted 2px; */
    max-width: 350px;
    margin: 10px auto;
}

/* ---------------- Preview section ------------------ */

.previewContainer {
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    /* border: forestgreen solid 2px; */
    /* min-height: 400px; */
    margin: 20px;
    padding-bottom: 10px;

}

.attractionDescription {
    /* transform: translate(0px,-100px); */
    /* float: right; */
    /* clear: right; */
    /* width: 50%; */
    /* overflow: auto; */
    border: ridge black 1px;
}

 .mainPreviewSection {
    margin-left: 20px;
    margin-right: 20px;
}

.mainPreviewSection > h3{
    border-bottom: 3px var(--accent-Color) solid;
}

.previewContainer > h2 { 
    margin: 10px;
    align-self: center;
    padding-bottom: 4px;
    border-bottom: 3px solid var(--accent-Color);
    overflow: auto;
}

.previewContent { 
    margin: 10px;
    margin-left: 20px;
    /* border-left: 3px solid var(--accent-Color); */
    min-height: 400px;
}

.parkPreview {
    display: flex;
}


.parkInfo {
    /* border: red dotted 2px; */
    /* padding: 5px; */
    flex: 1 1 50%;
}

.parkWeather {
    /* border: blue dotted 2px; */
    padding: 5px;
    flex: 1 1 50%;
}

.indent {
    margin-left: 20px;
}

.park > h4 {
    margin-top: 5px;
}

.shownDetails {
    background-color: lightsalmon;
}

.fancyDetails { 
    border-left: 4px solid var(--accent-Color);
    padding-left: 20px;
}

#saveBtn {
    align-self: center;
    width: 100px;
    /* background-color: var(--accent-Color); */

}


/* -------------- Saved Itineraries Aside --------------- */

.flex-right { 
    display: flex;
    flex: 3 1 40%;
    color: white;
}
.savedItineraries {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-Color);
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.savedItineraries > h2 {
    margin: 10px;
}

