/* ----------  Global and Body CSS ---------- */

:root {
    --accent-Color: rgb(62, 169, 130); /* ---- Custom green accent color ---- */
}

/* 
The follwoing style affects the parent element of the current element 
that should have an offset green accent on the bottom and right 
side of the current element. The parent is translated down and to the 
right and colored with the --accent-Color variable.
*/
.offsetAccentBox { 
    transform: translate(8px, 4px); /* move down 8px and to the right 4 px*/
    background-color: var(--accent-Color); /* color box accent green */
}

/*
This style affects the current element that should have a fancy bottom-right 
offset border. The current element counters its parent's offset by translating
an equal value in the opposite direction. This keeps the current element in it's
original, styled position while the accent is moved. 
*/
.offsetCounterBox {
    transform: translate(-8px, -4px); /* move down 8px and to the right 4 px*/
}



body, html {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    background-color: lightgrey;
    padding-top: 25px;
    padding-bottom: 25px;

}

header > img {
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

header > h1 {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer { 
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    height: 100px;
}

footer > p {
    margin-top: auto;
    margin-bottom: auto;
    /* background-color: purple; */

}
/* ------------------------------------ */


/* ------------- Main Css ------------- */

.container { 
    /* border: red dotted 2px; */
    display: flex;
}

/* ------------- Itinerary creation form and preview secitons CSS ------------- */
.flex-left { 
    display: flex;
    flex-direction: column;
    flex: 1 6 60%;
}


.itineraryForm { 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: green solid 2px; */
    /* float: left; */
}

.formTitle { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
   
}

.formTitle > h2 { 
    margin-top: 10px;
    padding-bottom: 4px;
    border-bottom: 3px var(--accent-Color) solid;
}

.dropdown {
    /* transform: translate(-8px, -4px); */
    width: 100%;
    margin-bottom: 5px;
}

.selectorContainer { 
    /* background-color: limegreen; */
    width: 100%;
    padding: 10px 0;
    margin-bottom: 50px;
    /* height: 50px;  */
}

.parks-list {
    /* transform: translate(8px, 4px); */
    /* background-color: var(--accent-Color); */
    /* border: black dotted 2px; */
    max-width: 350px;
    margin: 10px auto;
}

.eateries-list {
    /* transform: translate(8px, 4px); */
    /* background-color: var(--accent-Color); */
    /* border: black dotted 2px; */
    /* height: 25px; */
    max-width: 350px;
    margin: 10px auto;
}

.attractions-list {
    /* transform: translate(8px, 4px); */
    /* background-color: var(--accent-Color); */
    /* border: black dotted 2px; */
    /* height: 25px; */
    max-width: 350px;
    margin: 10px auto;
}

/* ---- Preview section */

.mainPreviewSection {
    margin-left: 20px;
    margin-right: 20px;
}

.mainPreviewSection > h3{
    border-bottom: 3px var(--accent-Color) solid;
}

.previewContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* border: forestgreen solid 2px; */
    min-height: 400px;

}

.previewContainer > h2 { 
    margin: 10px;
    align-self: center;
    padding-bottom: 4px;
    border-bottom: 3px solid var(--accent-Color);
}

.previewContent { 
    margin: 10px;
    margin-left: 20px;
    border-left: 3px solid var(--accent-Color);
    height: 200px;

}

#saveItBtn {
    align-self: center;
    width: 100px;

}


/* -------------- Saved Itineraries Aside --------------- */

.flex-right { 
    display: flex;
    flex: 3 1 40%;
    color: white;
}
.savedItineraries {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-Color);
    border: white solid 20px;
    width: 100%;
}

.savedItineraries > h2 {
    margin: 10px;
}

