/* ----------  Global and Body CSS ---------- */

:root {
    --accent-Color: rgb(62, 169, 130); /* ---- Custom green accent color ---- */
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Monserrat', sans-serif;
}

header {
    display: flex;
    background-color: lightgrey;
}

header > img {
    margin-left: 20px;
    width: 90px;
    height: 90px;
}

header > h1 {
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

footer { 
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    height: 90px;
}

footer > p {
    margin-top: auto;
    margin-bottom: auto;
}

/* ------------------------------------ */


/* ------------- Main Css ------------- */

.container { 
    display: flex;
}

/* ------------- Itinerary creation form and preview secitons CSS ------------- */

.flex-left { 
    display: flex;
    flex-direction: column;
    flex: 1 6 60%;
}


.itineraryForm { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formTitle { 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.formTitle > h2 { 
    margin-top: 10px;
    padding-bottom: 4px;
    border-bottom: 3px var(--accent-Color) solid;
}

.dropdown {
    width: 100%;
    margin-bottom: 5px;
}

.selectorContainer { 
    width: 100%;
    padding: 10px 0;
    margin-bottom: 50px;
}

.state-list { 
    max-width: 350px;
    margin: 10px auto;
}

.parks-list {
    max-width: 350px;
    margin: 10px auto;
}

.eateries-list {
    max-width: 350px;
    margin: 10px auto;
}

.attractions-list {
    max-width: 350px;
    margin: 10px auto;
}

/* 
The follwoing style affects the parent element of the current element 
that should have an offset green accent on the bottom and right 
side of the current element. The parent is translated down and to the 
right and colored with the --accent-Color variable.
*/
.offsetAccentBox { 
    transform: translate(8px, 4px); /* move down 8px and to the right 4 px*/
    background-color: var(--accent-Color); /* color box accent green */
}

/*
This style affects the current element that should have a fancy bottom-right 
offset border. The current element counters its parent's offset by translating
an equal value in the opposite direction. This keeps the current element in it's
original, styled position while the accent is moved. 
*/
.offsetCounterBox {
    transform: translate(-8px, -4px); /* move down 8px and to the right 4 px*/
}

/* ---------------- Preview section ------------------ */

.previewContainer {
    background-color: rgb(237, 237, 237);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    height: 100%;
}

.description {
    border-left: 2px solid rgb(62, 169, 130);
    padding-left: 10px;
}

.mainPreviewSection {
    margin-left: 20px;
    margin-right: 20px;
}

.mainPreviewSection > h3{
    border-bottom: 3px var(--accent-Color) solid;
}

.previewContainer > h2 { 
    margin: 10px;
    align-self: center;
    padding-bottom: 4px;
    border-bottom: 3px solid var(--accent-Color);
}

.previewContent { 
    margin: 10px;
    margin-left: 20px;
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.parkPreview {
    display: flex;
}


.parkInfo {
    flex: 1 1 50%;
}

.parkWeather {
    padding: 5px;
    flex: 1 1 50%;
}

.indent {
    margin-left: 20px;
}

.park > h4 {
    margin-top: 5px;
}

.buttonBorder {
    width: 100%;
    background-color: lightgrey;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

#saveBtn {
    width: 100px;
    background-color: rgb(62, 169, 130);
    color: white;
    border-color: rgba(62, 161, 125, .8)
}

#saveBtn:disabled {
    opacity: 50%;
    border-color: rgba(62, 169, 130, .3)
}

#saveBtn:hover {
    background-color: rgba(62, 169, 130, .7);
}

.description:before {
    color: rgb(62, 169, 130);
    content: open-quote;
    font-style: italic;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.3em;
}

.description:after {
    color: rgb(62, 169, 130);
    content: close-quote;
    font-style: italic;
    font-size: 3em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.6em;
}

.detailsBtn {
    width: 100px;
    background-color: rgb(62, 169, 130);
    color: white;
    border-color: rgba(62, 161, 125, .8)
}

.detailsBtn:focus {
    outline: 0 !important;
} 

.detailsBtn:hover {
    background-color: rgba(62, 169, 130, .7);
}

/* -------------- Saved Itineraries Aside --------------- */

.flex-right { 
    display: flex;
    flex: 3 1 40%;
    color: white;
}

.savedItineraries {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-Color);
    margin: 20px;
    padding: 20px;
    width: 100%;
}

.savedItineraries > h2 {
    margin: 10px;
}

.itinerariesList {
    overflow: auto;
    height: 100%;
}
